@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&family=Noto+Color+Emoji&display=swap");

@text: #ffffff;
@background: #0f091b;
@padding-xl: 10rem;
@padding-lg: 5rem;
@padding-md: 2rem;
@padding-sm: 1.5rem;
@padding-xs: 1rem;
@padding-xxs: 0.5rem;
@padding-xxxs: 0.2rem;
@gap-xl: 3rem;
@gap-lg: 2rem;
@gap-md: 1.5rem;
@gap-sm: 1rem;
@gap-xs: 0.5rem;
@gap-xxs: 0.25rem;
@border-radius-sm: 1.2rem;
@font-size-xl: 2em;
@font-size-lg: 1.5em;
@font-size-md: 1em;
@font-size-sm: 0.8em;
@translate-header-height: 3rem;
@min-height: 15rem;
@screen-2xl: 1536px;
@screen-xl: 1280px;
@screen-lg: 1024px;
@screen-md: 768px;
@screen-sm: 640px;

:root {
  font-family: "Poppins", "Noto Color Emoji", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color: @text;
  background-color: @background;

  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: unset;
  font-weight: bold;
  text-decoration: underline;
}

button {
  font-size: unset;
  font-family: inherit;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

textarea {
  font-size: unset;
  font-family: inherit;
}

h1 {
  font-size: @font-size-lg;
}

i {
  color: @text;
  line-height: 1;
  font-size: @font-size-lg;
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.glassmorphicBackground() {
  border-radius: @border-radius-sm;
  border: 1px solid rgba(255, 255, 255, 0.3);
  // box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(155, 167, 230, 0.3);
  backdrop-filter: blur(5px);
  .light {
    // background: radial-gradient(
    //   198.52% 92.5% at 42.64% 30.27%,
    //   rgba(255, 255, 255, 0.162) 0%,
    //   rgba(255, 255, 255, 0) 100%
    // );
    background: radial-gradient(
      198.52% 92.5% at 42.64% 30.27%,
      rgba(58, 53, 93, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: rgba(67, 59, 118, 0.627);
  }
  .dark {
    background: radial-gradient(
      198.52% 92.5% at 42.64% 30.27%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: rgba(17, 12, 23, 0.6);
  }
}

.material-symbols-outlined {
  position: relative;
  font-size: @font-size-xl;
  padding: @padding-xxs;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: rgba(@text, 0.1);
  }
}

button:focus .material-symbols-outlined {
  background: rgba(@text, 0.1);
}

@media screen and (max-width: @screen-lg) {
  :root {
    font-size: 0.9em;
  }
}

@media screen and (max-width: @screen-sm) {
  :root {
    font-size: 0.8em;
  }
}
